version: '3.8'
services:
  redis:
    image: redis:alpine
    command: redis-server --requirepass "sistemagigantes"
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
